.menu-item-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-item-container-button-not-selected{
    background-color: transparent;
    border: none;
    width: fit-content;
    height: fit-content;
    margin: 10px;
    outline: none !important;
}

.menu-item-container-button-selected{
    background-color: transparent;
    border: 1px black solid;
    width: fit-content;
    height: fit-content;
    margin: 10px;
    outline: none !important;
}